
* {
    box-sizing: border-box;
  }

/* Style the body */
body {
    font-family: 'Bungee Shade';
    margin: 0;
  }

  /* Header/logo Title */
.header {
    font-family: 'Bungee Shade';
    width: 100%;
    height: auto;
    padding: 300px;
    text-align: center;
    background-image: url("img/p1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #F3904F;
    
  }

  /* Increase the font size of the heading */
  .header h1 {
    font-size: 60px;
    text-align: left;
    
  }
  /* Color for the p tag*/
  .header p {
    color: #3B4371;
    text-align: left;
  }
 
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  
    background: linear-gradient(to right, #3B4371, #F3904F); 
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color:#F3904F;
    font-size: medium;
  }
  /* Button Dark Mode */
  .navbar button {
      float: right;
      display: block;
      text-align: center;
      padding: 15px 20px;
      text-decoration: none;
      font-size: medium;
      color:#3B4371;
      background-color: #F3904F;
      border-radius: 124px 124px 124px 124px;
      -moz-border-radius: 124px 124px 124px 124px;
      -webkit-border-radius: 124px 124px 124px 124px;
      border: 1px solid #3B4371;
      font-family: 'Bungee Shade';
      cursor: pointer;
  }
  
  
  /* Change color on hover */
  .navbar a:hover {
    color: black;
  }
  
  /* Active/current link 
  .navbar a.active {
    background-color: ;
    color:;
  }
  */
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two diferent columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    /*background-image: url("../image/simon-abrams-k_T9Zj3SE8k-unsplash.jpg");*/
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 15px;
    text-align: center;
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  
    background: linear-gradient(to right, #3B4371, #F3904F); 
    color:#F3904F;
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
  
  }

/* Home page Text */
  .presentation {
      padding: 100px;

  }

  .what_im_capable_of{
    padding: 100px;
  }

  .feel_free_to_ask_me_something{
    padding: 100px;
  }

  .feel_free_to_ask_me_something a {
    color:black;
  }
  /* Work page examples */

  .examples1 {

    padding: 200px;
  }

  .examples2 {
    background-color:#F3904F;
    padding: 200px;
  }

  .examples3 {

    padding: 200px;
  }

  .examples4 {
    background-color: #5f6899;
    padding: 200px;
  }

  .examples5 {

    padding: 200px;
  }
  /*for the responsive , try to see if is not his that doesnt allowed , meaning the px*/
  .Notes {
    padding: 300px;
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }