/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Poppins'; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.heading {
  text-transform: uppercase; }
  .heading--h1 {
    font-size: 4.5rem;
    color: #FFFFFF;
    text-transform: uppercase; }
  .heading--h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000000; }
  .heading--h5 {
    font-size: 1rem;
    color: #000000;
    font-weight: 600; }

.paragraph {
  font-size: 1.7rem;
  padding: 1rem 2rem; }
  .paragraph--dark {
    color: #000000; }
  .paragraph--light {
    color: #FFFFFF; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-left-big {
  margin-left: 5rem; }

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }

.main {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap; }

.header {
  flex: 0 1 100%;
  display: flex;
  justify-content: center; }
  .header__box {
    flex: 0 1 100%;
    align-self: center; }
  .header-sawi {
    flex: 1 1 100%;
    height: 75vh;
    display: flex; }
    .header-sawi__box {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .header-project {
    flex: 1 1 100%;
    height: 75vh;
    display: flex; }

.sect__about {
  flex: 0 1 100%;
  display: flex; }
  .sect__about-sawi {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap; }
    .sect__about-sawi__box {
      flex: 1 1 10%; }

.about__box1 {
  flex: 0 1 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sect__feedback {
  flex: 0 1 100%; }

.feedback--box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start; }

.feedback--card {
  flex: 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.student__img {
  height: 100%; }

.footer {
  width: 100%; }

.sect__contact {
  width: 100%; }

.contact--box {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.contact--card {
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav__bar {
  background-color: #FFFFFF; }

.logo--box {
  padding: 0.5rem 0; }

.logo--text {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.nav--box {
  padding: 1rem 2rem; }

.nav--list {
  list-style: none; }

.nav--item {
  margin: 0 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000; }
  .nav--item--link, .nav--item--link:link, .nav--item--link:visited {
    text-decoration: none;
    transition: all .2s ease-in;
    color: inherit; }
  .nav--item:hover {
    background-color: #000a15;
    color: #FFFFFF;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .nav--item:active, .nav--item:focus {
    background-color: #000a15;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 10, 21, 0.4)), url(../img/header.jpg);
  background-size: cover; }
  .header__box {
    text-align: center; }
  .header__text {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 2rem 0; }

.about__box1 {
  background-image: url(../img/about.jpg);
  background-size: cover; }

.sect__feedback {
  background-image: url(../img/feedback.jpg);
  background-size: cover; }

.feedback--box {
  margin-bottom: 3rem; }

.feedback--card {
  padding: 0 2rem;
  margin: 3rem 3rem;
  border: 8px solid #000a15;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .feedback--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .feedback--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .feedback--card__text {
    font-size: 1.5rem; }
  .feedback--card:hover {
    transform: translateY(-3px) scale(1.1); }

.student__img {
  height: 100%; }

.footer {
  background-image: url(../img/contact.jpg); }

.contact__img {
  width: 100%; }

.contact--card {
  padding: 2rem 2rem;
  margin: 3rem 3rem;
  border: 2px solid #000000;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .contact--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .contact--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .contact--card__text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem; }
  .contact--card:hover {
    transform: translateY(-3px) scale(1.1); }

.contact--card__icon--box {
  font-size: 2.5rem;
  color: #000000;
  margin: 1rem; }

.contact--card__icon--link {
  text-align: center;
  text-decoration: none; }

.fa {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 0 .5rem; }

.fa:hover {
  opacity: 0.7; }

.fa-github, .fa-facebook, .fa-linkedin, .fa-skype, .fa-envelope {
  color: #000a15; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFFFF;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: url(../img/navigation.jpg);
  background-size: cover; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #313335;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover {
  background-position: 100%;
  color: #000000;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #000a15;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn, .btn:link, .btn:visited {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  transition: all .3s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--black {
  font-size: 2rem;
  background-color: #000000;
  color: #FFFFFF; }

.btn--transparent {
  font-size: 1.5rem;
  color: #000000;
  border: 2px solid #000a15; }

.header-sawi {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 10, 21, 0.3)), url(../img/sawi-header.jpg);
  background-size: cover; }
  .header-sawi__box {
    text-align: center;
    margin-top: 3rem; }
  .header-sawi__text {
    font-size: 6rem;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    animation: moveInLeft 1s ease-in; }
  .header-sawi__photo-box {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: solid 3px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    background-image: url(../img/sawi-2.jpg);
    background-size: cover;
    animation: moveInRight 1s ease-in; }
    .header-sawi__photo-box:hover {
      transform: translateY(-3px) scale(1.1); }
  .header-sawi__h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    line-height: 3;
    font-weight: 100;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    animation: moveInLeft 1s ease-in; }

/*.line{
    flex: 0 0 30%;
    width: 50%;
    height: 0.3rem;
    margin: 0 auto;   

    &--light{
    background-color: $c-white; 
    }
    &--dark{
    background-color: $c-black-1; 
    }

    
}
*/
.sect__about-sawi {
  background-color: #FFB6C1; }
  .sect__about-sawi__box {
    height: 30rem;
    width: 20rem;
    font-size: 3rem;
    color: #000a15;
    border: solid 2px #FFFFFF;
    margin: 2rem;
    padding: 4rem;
    text-align: center; }
    .sect__about-sawi__box--1 {
      background-color: #FFB6C1; }
    .sect__about-sawi__box--2 {
      background-image: url(../img/coding.jpg);
      background-size: cover; }
    .sect__about-sawi__box--3 {
      background-image: url(../img/painting.jpg);
      background-size: cover; }
    .sect__about-sawi__box--4 {
      background-image: url(../img/teaching.jpg);
      background-size: cover; }

.sect__havedone {
  width: 1 1 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.sect__head {
  width: 100vw; }

.project__card {
  margin-bottom: 2rem;
  width: 45%;
  height: auto;
  border: 4px solid #000000;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  padding: 1.5rem; }

.project__img {
  flex: 0 0 100%;
  margin: 1rem 3rem; }
  .project__img--content {
    width: 100%; }

.project__detail {
  flex: 0 0 100%;
  margin: 1rem 3rem; }

.project__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem; }

.project__location {
  font-size: 1.5rem; }

.project__period {
  font-size: 1.5rem; }

.project__company {
  font-size: 2rem;
  color: #005073;
  margin-bottom: 2rem; }
  .project__company--link, .project__company--link:link, .project__company--link:visited {
    color: #005073;
    margin: 0.5rem 0; }

.project__task {
  font-size: 1.5rem;
  text-align: justify; }

.feedback-header {
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  flex: 1 1 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 10, 21, 0.4)), url(../img/feedback-header.jpg);
  background-size: cover; }
  .feedback-header__box {
    position: absolute;
    top: 5rem;
    left: 20rem;
    text-align: center; }
  .feedback-header__text {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 2rem 0; }

.project--list {
  width: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FFB6C1;
  padding-top: 4rem; }
