* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 52.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 52.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Poppins'; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.heading {
  text-transform: uppercase; }
  .heading--h1 {
    font-size: 4.5rem;
    color: #FFFFFF;
    text-transform: uppercase; }
  .heading--h2 {
    font-size: 3.5rem;
    color: #000000;
    font-weight: 600; }
  .heading--h5 {
    font-size: 1rem;
    color: #000000;
    font-weight: 600; }

.paragraph {
  font-size: 1.7rem;
  padding: 1rem 2rem; }
  .paragraph--dark {
    color: #000000; }
  .paragraph--light {
    color: #FFFFFF; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-left-big {
  margin-left: 5rem; }

/* Old Fixed Navigation Bar
.nav__bar{
    flex: 0 0 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    position:fixed; top:0; left: 0;right: 0;
    z-index: 100;
    }
    .nav--list{
    display: flex;
    }
    .logo--box{
    flex: 0 1 25%;
    }
    
    .nav--box{
    flex: 0 1 75%;
    }
*/
.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }

.main {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap; }

.header {
  flex: 0 1 100%;
  height: 80vh;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .header {
      height: 100vh; } }
  .header__box {
    flex: 0 1 80%;
    align-self: center; }

.sect__about {
  flex: 0 1 100%;
  display: flex; }

.about__box1 {
  flex: 0 1 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about__box2 {
  flex: 0 1 50%;
  height: auto; }

.sect__feedback {
  flex: 0 1 100%; }

.feedback--box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start; }

.feedback--card {
  flex: 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.student__img {
  height: 100%; }

.footer {
  width: 100%; }

.sect__contact {
  width: 100%; }

.contact--box {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.contact--card {
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav__bar {
  background-color: #FFFFFF; }

.logo--box {
  padding: 0.5rem 0; }

.logo--text {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.nav--box {
  padding: 1rem 2rem; }

.nav--list {
  list-style: none; }

.nav--item {
  margin: 0 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000; }
  .nav--item--link, .nav--item--link:link, .nav--item--link:visited {
    text-decoration: none;
    transition: all .2s ease-in;
    color: inherit; }
  .nav--item:hover {
    background-color: #000a15;
    color: #FFFFFF;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .nav--item:active, .nav--item:focus {
    background-color: #000a15;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 10, 21, 0.4)), url(../img/header.jpg);
  background-size: cover; }
  .header__box {
    text-align: center; }
  .header__text {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 2rem 0; }

.about__box1 {
  background-image: url(../img/about.jpg);
  background-size: cover; }

.about__box2 {
  background-image: url(../img/about.jpg);
  background-size: cover; }

.sect__feedback {
  background-image: url(../img/feedback.jpg);
  background-size: cover; }

.feedback--box {
  margin-bottom: 3rem; }

.feedback--card {
  padding: 0 2rem;
  margin: 3rem 3rem;
  border: 8px solid #000a15;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .feedback--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .feedback--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .feedback--card__text {
    font-size: 1.5rem; }
  .feedback--card:hover {
    transform: translateY(-3px) scale(1.1); }

.student__img {
  width: 100%; }

.footer {
  background-image: linear-gradient(to right bottom, rgba(120, 216, 120, 0.4), rgba(96, 192, 96, 0.4)), url(../img/header.jpg); }

.contact--card {
  padding: 2rem 2rem;
  margin: 3rem 3rem;
  border: 2px solid #000000;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .contact--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .contact--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .contact--card__text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem; }
  .contact--card:hover {
    transform: translateY(-3px) scale(1.1); }

.contact--card__icon--box {
  font-size: 2.5rem;
  color: #000000;
  margin: 1rem; }

.contact--card__icon--link {
  text-align: center;
  text-decoration: none; }

.fa {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 0 .5rem; }

.fa:hover {
  opacity: 0.7; }

.fa-github, .fa-facebook, .fa-linkedin, .fa-skype, .fa-envelope {
  color: #000a15; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFFFF;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: url(../img/feedback.jpg);
  background-size: cover; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #313335;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover,
.navigation__link:active ~ .navigation__link__background {
  background-position: 100%;
  color: #000000;
  transform: translateX(1rem);
  z-index: 1;
  transform: scale(0); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #000a15;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn, .btn:link, .btn:visited {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  transition: all .3s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--black {
  font-size: 2rem;
  background-color: #000000;
  color: #FFFFFF; }

.btn--transparent {
  font-size: 1.5rem;
  color: #000000;
  border: 2px solid #000a15; }
