/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Comfortaa', 'Poppins', cursive; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.heading {
  text-transform: uppercase; }
  .heading--h1 {
    font-size: 4.5rem;
    color: #FFFFFF;
    text-transform: uppercase; }
  .heading--h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000000; }
  .heading--h5 {
    font-size: 1rem;
    color: #000000;
    font-weight: 600; }

.paragraph {
  font-size: 1.7rem;
  padding: 1rem 2rem; }
  .paragraph--dark {
    color: #000000; }
  .paragraph--light {
    color: #FFFFFF; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-left-big {
  margin-left: 5rem; }

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }

.main {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap; }

.header {
  flex: 0 1 100%;
  display: flex;
  justify-content: center; }
  .header__box {
    flex: 0 1 100%;
    align-self: center; }
  .header-home {
    height: 85vh; }
  .header-feedback {
    height: 75vh; }
  .header-sawi {
    flex: 1 1 100%;
    height: auto;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header-sawi {
        height: 50vh; } }
    .header-sawi__box {
      flex: 1 0 20%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .header-project {
    flex: 1 1 100%;
    height: 75vh;
    display: flex; }

.sect__about {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5rem 2rem; }
  .sect__about-sawi {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .sect__about-sawi__box {
      flex: 0 1 25%; }
      .sect__about-sawi__box--1 {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .sect__about-sawi__box--1, .sect__about-sawi__box--2, .sect__about-sawi__box--3, .sect__about-sawi__box--4 {
          flex: 0 1 100%; } }

.about__box {
  flex: 0 0 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sect__feedback {
  flex: 0 1 100%; }

.feedback--box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start; }

.feedback--card {
  flex: 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.student__img {
  height: 100%; }

.footer {
  width: 100%; }

.sect__contact {
  width: 100%; }

.contact--box {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.contact--card {
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFFFF;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: url(../img/navigation.jpg);
  background-size: cover; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #313335;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover {
  background-position: 100%;
  color: #000000;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #000a15;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn, .btn:link, .btn:visited {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all .3s; }

.btn:hover {
  transform: translateY(-3px); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn--black {
  font-size: 2rem;
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--transparent {
  font-size: 1.5rem;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: transparent; }

.card-sawi {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 100%; }
  .card-sawi__side {
    height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card-sawi__side--front {
      background-color: #FFFFFF; }
    .card-sawi__side--back {
      transform: rotateY(180deg); }
      .card-sawi__side--back-2 {
        background-image: linear-gradient(to right bottom, #B99976, #987554); }
      .card-sawi__side--back-3 {
        background-image: linear-gradient(to right bottom, #B99976, #987554); }
      .card-sawi__side--back-4 {
        background-image: linear-gradient(to right bottom, #B99976, #987554); }
  .card-sawi:hover .card-sawi__side--front {
    transform: rotateY(-180deg); }
  .card-sawi:hover .card-sawi__side--back {
    transform: rotateY(0); }
  .card-sawi__picture {
    background-size: cover;
    height: 70%;
    background-blend-mode: screen; }
    .card-sawi__picture--2 {
      background-image: linear-gradient(to right bottom, #987554, #420D09), url(../img/coding.jpg); }
    .card-sawi__picture--3 {
      background-image: linear-gradient(to right bottom, #987554, #420D09), url(../img/painting.jpg); }
    .card-sawi__picture--4 {
      background-image: linear-gradient(to right bottom, #987554, #420D09), url(../img/traveling.jpg); }
  .card-sawi__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #420D09;
    position: absolute;
    top: 80%;
    width: 100%; }
  .card-sawi__details {
    padding: 3rem; }
    .card-sawi__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      @media only screen and (max-width: 75em) {
        .card-sawi__details ul {
          width: 100%; } }
      .card-sawi__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-sawi__details ul li:not(:last-child) {
          border-bottom: 1px solid #000a15; }
  .card-sawi__cta {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center; }

.header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 10, 21, 0.4)), url(../img/header.jpg);
  background-size: cover; }
  .header__box {
    text-align: center; }
  .header__text {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 2rem 0; }

.sect__about {
  background-image: linear-gradient(to right bottom, rgba(35, 18, 11, 0.4), rgba(90, 56, 37, 0.4)), url(../img/about.jpg);
  background-size: cover; }

.about__box {
  background-image: url(../img/about.jpg);
  background-size: cover;
  padding: 2rem; }

.li__about {
  margin-top: 1rem; }

.front-end__photo {
  width: 90%;
  margin-bottom: 3rem; }
  .front-end__photo--content {
    width: 100%; }

.sect__feedback {
  background-image: url(../img/feedback.jpg);
  background-size: cover; }

.feedback--box {
  margin-bottom: 3rem; }

.feedback--card {
  padding: 0 2rem;
  margin: 3rem 3rem;
  border: 8px solid #000a15;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .feedback--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .feedback--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .feedback--card__text {
    font-size: 1.5rem; }
  .feedback--card:hover {
    transform: translateY(-3px) scale(1.1); }

.student__img {
  height: 100%; }

.footer {
  background-image: url(../img/contact.jpg); }

.contact__img {
  width: 100%; }

.contact--card {
  padding: 2rem 2rem;
  margin: 3rem 3rem;
  border: 2px solid #000000;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .contact--card__photo-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0; }
  .contact--card__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .contact--card__text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem; }
  .contact--card:hover {
    transform: translateY(-3px) scale(1.1); }

.contact--card__icon--box {
  font-size: 2.5rem;
  color: #000000;
  margin: 1rem; }

.contact--card__icon--link {
  text-align: center;
  text-decoration: none; }

.fa {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 0 .5rem; }

.fa:hover {
  opacity: 0.7; }

.fa-github, .fa-facebook, .fa-linkedin, .fa-skype, .fa-envelope {
  color: #000a15; }

.header-sawi {
  padding: 5rem 0;
  background-color: #B99976;
  background-size: cover; }
  .header-sawi__box {
    text-align: center;
    padding: 2rem;
    background-color: #ecdbc3; }
    @media only screen and (max-width: 56.25em) {
      .header-sawi__box--1 {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .header-sawi__box--1 {
        display: none; } }
    @media only screen and (max-width: 56.25em) {
      .header-sawi__box--3 {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .header-sawi__box--3 {
        display: none; } }
  .header-sawi__text {
    font-size: 4rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    color: #420D09;
    font-family: 'Old Standard TT', 'Playfair Display', serif;
    text-transform: uppercase;
    font-stretch: expanded;
    margin-top: 2rem;
    animation: moveInLeft 1s ease-in; }
  .header-sawi__photo-box {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: solid 2px #420D09;
    overflow: hidden;
    background-image: url(../img/sawi-3.jpg);
    background-size: cover;
    animation: moveInRight 1s ease-in; }
    .header-sawi__photo-box:hover {
      transform: translateY(-3px) scale(1.1); }
  .header-sawi__h1 {
    font-family: 'Old Standard TT','Playfair Display', serif;
    font-size: 2rem;
    line-height: 3;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 2rem;
    animation: moveInLeft 1s ease-in; }
  .header-sawi__photo--nature {
    width: 50%;
    height: 60%;
    margin: 3rem 0; }

.sect__about-sawi {
  background-image: url(../img/sawi-about-2.jpg);
  padding: 5rem 0; }
  .sect__about-sawi__box {
    height: 35rem;
    font-size: 3rem;
    color: #000a15;
    border-radius: 3px;
    margin: 4rem 2rem;
    padding: 0 2rem;
    text-align: center; }
    .sect__about-sawi__box--1 {
      background-color: #987554; }

.sect__havedone {
  flex: 1 1 100%;
  padding: 5rem 0;
  height: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(0, 10, 21, 0.1)), url(../img/sawi-things.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.sect__havedone__head {
  flex: 0 1 25%;
  background-color: #B99976;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 7rem 0;
  outline: 1.5rem solid #987554;
  outline-offset: 15px;
  padding: 3rem; }

.project__card {
  flex: 0 0 27%;
  background-image: linear-gradient(to right bottom, #987554, #B99976);
  margin: 3rem 2rem;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  display: flex; }

.project__detail {
  color: #ecdbc3;
  flex: 0 0 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column; }

.project__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem; }

.project__location {
  font-size: 1.5rem; }

.project__period {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

.project__company {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #005073; }
  .project__company--link, .project__company--link:link, .project__company--link:visited {
    color: #ecdbc3;
    margin: 0.5rem 0; }
  .project__company--link:hover {
    background-color: #B99976;
    padding: 0.5rem 0.1rem;
    color: #420D09; }
  .project__company--link:active, .project__company--link:focus {
    background-color: #000000;
    color: #FFFFFF; }

.project__task {
  color: #420D09;
  font-size: 1.5rem;
  text-align: normal;
  margin-bottom: 2rem;
  background-color: #ecdbc3;
  padding: 2rem;
  border-radius: 4px; }

.project__img {
  flex: 0 0 100%;
  margin: 1rem 3rem; }
  .project__img--content {
    width: 100%; }

.header-feedback {
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  flex: 1 1 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 10, 21, 0.4)), url(../img/feedback-header.jpg);
  background-size: cover; }
  .header-feedback__box {
    position: absolute;
    top: 5rem;
    left: 20rem;
    text-align: center; }
  .header-feedback__text {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 2rem 0; }

.project--list {
  width: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000a15;
  padding-top: 4rem; }

.project__card-project {
  background-color: #FFFFFF; }
