* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    @include respond(phone) {
        font-size: 40%; 
    }
}
body{
    font-family: 'Comfortaa', 'Poppins', cursive;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.heading{
    text-transform: uppercase;
    &--h1{
        font-size: $font-h1;
        color: $c-white;
        text-transform: uppercase;
    
    }
    &--h2{
        font-size: $font-h2;
        font-weight: 600;
        &--light{
            color:$c-white;
        }
        &--dark{
            color:$c-black-1;
        }
    }
    &--h5{
        font-size: $font-h5;
        color:$c-black-1;
        font-weight: 600;
    }
}
.paragraph{
    font-size: $font-p;
    padding: 1rem 2rem;
    
    &--dark{
        color: $c-black-1;
    }
    &--light{
        color: $c-white;
    }
}