//button

.btn{
 &,&:link, &:visited{
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding: 1rem 2rem;
      //for btn
      border:none;
      cursor:pointer;

   transition: all .3s;

 }
 &:hover{
    transform: translateY(-3px);
 }
 &:active, &:focus{
    outline: none;
    transform: translateY(-1px);
 }
 &--black{
    font-size: 2rem;
    background-color:$c-grey-1;
    color:$c-white;
    box-shadow: 0 0.5rem 1rem rgba($c-grey-3,.2);
    border-radius: 20px;
 }
 &--transparent{
    &,&:link, &:visited{
    margin-top: 1.5rem;
    display:inline-block;
    font-size: 1.6rem;
    color: $c-black-1;
    padding: 3px;
    border-bottom: solid 2px $c-black-1;
    transition: all .2s;
  
      }
      &:hover{
        transform: translateY(-3px);
      }
      &:active, &:focus{
        transform: translateY(3px);
      }
 }
 &--white{
  &,&:link, &:visited{
  margin-top: 1.5rem;
  display:inline-block;
  font-size: 1.6rem;
  color: $c-white;
  padding: 3px;
  border-bottom: solid 2px $c-white;
  transition: all .2s;

    }
    &:hover{
      transform: translateY(-3px);
    }
    &:active, &:focus{
      transform: translateY(3px);
    }
}

}
//sawi btn
.btn-seemore-sawi{
  &,&:link, &:visited{
  margin-top: 1.5rem;
  display:inline-block;
  font-size: 1.6rem;
  color: $c-mahogany;
  padding: 3px;
  border-bottom: solid 2px $c-mahogany;
  transition: all .2s;

    }
    &:hover{
      color:$c-white;
      border-bottom: solid 2px $c-white;
      background-color:transparent;
      transform: translateY(-3px);
    }
    &:active, &:focus{
      transform: translateY(3px);
    }
}
//sawi's cards
.card-sawi {

   // FUNCTIONALITY
   perspective: 150rem;
   -moz-perspective: 150rem;
   position: relative;
   height: 100%;
   
   &__side {
       height: 100%;
       transition: all .8s ease;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       border-radius: 3px;
       overflow: hidden;
       box-shadow: 0 1.5rem 4rem rgba($c-black-1, .15);

       &--front {
           background-color: $c-white;
       }

       &--back {
           transform: rotateY(180deg);

           &-2 {
               background-image: linear-gradient(to right bottom, $c-brown-2, $c-brown-3);
           }

           &-3 {
            background-image: linear-gradient(to right bottom, $c-brown-2, $c-brown-3);
           }

           &-4 {
            background-image: linear-gradient(to right bottom, $c-brown-2, $c-brown-3);
           }
       }
   }
 

   &:hover &__side--front {
       transform: rotateY(-180deg);
   }

   &:hover &__side--back {
       transform: rotateY(0);
   }


   // FRONT SIDE STYLING
   &__picture {
       background-size: cover;
       height: 70%;
       background-blend-mode: screen;
       //-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
       //clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
       //border-top-left-radius: 3px;
       //border-top-right-radius: 3px;
       
       &--2 {
           background-image: linear-gradient(to right bottom, $c-brown-3, $c-mahogany), 
           url(../img/coding.jpg);
       }

       &--3 {
         background-image: linear-gradient(to right bottom, $c-brown-3, $c-mahogany), 
         url(../img/painting.jpg);
       }

       &--4 {
         background-image: linear-gradient(to right bottom, $c-brown-3, $c-mahogany), 
         url(../img/traveling.jpg);
       }
   }

   &__heading {
       font-size: 2.8rem;
       font-weight: 300;
       text-transform: uppercase;
       color: $c-mahogany;
       position: absolute;
       top: 80%;
       width: 100%;
   
   }

   &__details {
       padding: 3rem;

       ul {
           list-style: none;
           width: 80%;
           margin: 0 auto;

            @include respond(tab-land){
               width: 100%;
            }
         li {
               text-align: center;
               font-size: 1.5rem;
               padding: 1rem;

               &:not(:last-child) {
                   border-bottom: 1px solid $c-black-2;
               }
         }
       }
   }

   // FRONT SIDE STYLING
   &__cta {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;      
   }

}

//project
.btn-seemore-project{
  &,&:link, &:visited{
  margin-top: 1.5rem;
  display:inline-block;
  font-size: 1.6rem;
  color: $c-mahogany;
  padding: 3px;
  border-bottom: solid 2px $c-mahogany;
  transition: all .2s;

    }
    &:hover{
      color:$c-mahogany;
      border-bottom: solid 2px $c-mahogany;
      background-color:transparent;
      transform: translateY(-3px);
    }
    &:active, &:focus{
      transform: translateY(3px);
    }
}

.composition {
  position: relative;

  &__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($c-black-1, .4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem;

      @include respond(tab-port) {
          float: left;
          position: relative;
          width: 33.33333333%;
          box-shadow: 0 1.5rem 3rem rgba($c-black-1, .2);
      }

      &--p1 {
          left: 0;
          top: -2rem;

          @include respond(tab-port)  {
              top: 0;
              transform: scale(1.2);
          }
      }

      &--p2 {
          right: 0;
          top: 2rem;

          @include respond(tab-port)  {
              top: -1rem;
              transform: scale(1.3);
              z-index: 100;
          }
      }

      &--p3 {
          left: 20%;
          top: 10rem;

          @include respond(tab-port)  {
              top: 1rem;
              left: 0;
              transform: scale(1.1);
          }
      }

      &:hover {
          //outline: 1.5rem solid $c-blue-4;
          transform: scale(1.05) translateY(-.5rem);
          //box-shadow: 0 2.5rem 4rem rgba($c-black-1, .5);
          z-index: 20;
      }

  }

  &:hover &__photo:not(:hover) {
      transform: scale(.95);
  }
  //composition:hover composition__photo:not(:hover) {
}
