
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.header{
    flex: 0 1 100%;
    display: flex;
    justify-content: center;

    &__box{
    flex: 0 1 100%;
    align-self: center;
    }
    &-home{
        height: 90vh;
    }
    &-feedback{
        height: 75vh;
    }
    &-project{
        flex: 1 1 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
}


.sect__about{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.about__box{
    &--1{
        flex: 0 0 30%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    &--2{
        flex: 1 0 30%;
    }
    &--3{
        flex: 1 0 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.sect__feedback{
    flex: 0 1 100%;
}
.feedback--box{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.feedback--card{
    flex: 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student__img{
    height:100%;
}

.footer
{
    width: 100%;
}
.sect__contact{
    width: 100%;
}
.contact--box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact--card{
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

