
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.header{
    flex: 0 1 100%;
    display: flex;
    justify-content: center;

    &__box{
    flex: 0 1 100%;
    align-self: center;
    }
    &-home{
        height: 85vh;
    }
    &-feedback{
        height: 75vh;
    }
    &-sawi{
        flex: 1 1 100%;
        height: auto;
        display: flex;
        align-items: center;
        @include respond(phone){
            height: 50vh;
        }

        &__box{
            flex: 1 0 20%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &-project{
        flex: 1 1 100%;
        height: 75vh;
        display: flex;
    }
}


.sect__about{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 2rem;
    &-sawi{
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__box{
        flex: 0 1 25%;
            &--1{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            @include respond(phone){
             &--1, &--2, &--3,&--4{
                flex: 0 1 100%;
             }           
            }
        }
    
    }
}
.about__box{
    flex: 0 0 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect__feedback{
    flex: 0 1 100%;
}
.feedback--box{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.feedback--card{
    flex: 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student__img{
    height:100%;
}

.footer
{
    width: 100%;
}
.sect__contact{
    width: 100%;
}
.contact--box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact--card{
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

