
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.header{
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    &__box{
    flex: 0 1 100%;
    align-self: center;
    }
    &-home{
        height: 90vh;
    }
    &-feedback{
        height: 75vh;
    }
    &-project{
        flex: 1 1 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
}


.sect__about{
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.about__box{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
        flex: 1 1 100%;
    }
}
.sect__feedback{
    flex: 0 1 100%;
}
.feedback--box{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feedback--card{
    flex: 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
        flex: 1 1 100%;
    }
}
.student__img{
    height:100%;
}

.footer
{
    width: 100%;
    height: auto;
}
.sect__contact{
    width: 100%;

}
.contact--box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact--card{
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
        flex: 0 0 100%;
    }
}

