//Color Palette
$c-black-1: #000000;
$c-black-2: #000a15;
$c-grey-1:#313335;
$c-grey-2:#86888A;
$c-grey-3:#555251;
$c-white:#FFFFFF;
$c-blue-1: #d0efff;
$c-blue-2: #2a9df4;
$c-blue-4: #005073;
$c-blue-3: #429bb8;
$c-blue-4: #C2CAD0;

$c-green-1:#78d878;
$c-green-2:#60c060;
$c-pink-1:#FFB6C1;
$c-pink-2:#FFE6EE;
$c-pink-3: #e4a199;
$c-pink-4:#ce897b;
$c-pink-5:#E7717D;
$c-brown-1: #ecdbc3;
$c-brown-2: #B99976;
$c-brown-3: #987554;
$c-mahogany: #420D09;
$c-amber: #893101;
$c-tiger: #FC6A03;
$c-cider: #B56727;

//margin
$margin-big: 4rem;
$margin-medium: 2rem;
$margin-small:1rem;

//font
$font-h1: 4.5rem;
$font-h2: 3.5rem;
$font-h5: 1rem;
$font-p: 1.7rem;

