//Color Palette
$c-black-1: #000000;
$c-black-2: #000a15;
$c-grey-1:#313335;
$c-grey-2:#86888A;
$c-white:#FFFFFF;
$c-blue-1: #005073;
$c-blue-2: #429bb8;
$c-green-1:#78d878;
$c-green-2:#60c060;
$c-pink-1:#FFB6C1;
$c-pink-2:#FFE6EE;

//margin
$margin-big: 4rem;
$margin-medium: 2rem;
$margin-small:1rem;

//font
$font-h1: 4.5rem;
$font-h2: 3.5rem;
$font-h5: 1rem;
$font-p: 1.7rem;

