* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.heading--h1{
    display: inline-block;
    text-align: center;
    color: black;
    padding: 2rem;
    background-color: orange;
    font-size: 5rem;
}
.heading--h2{
    text-align: center;
    color: black;
    padding: 0.5rem;
    background-color: orange;
    font-size: 3rem;
}
p{
    font-size: 2rem;
    padding:1rem;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.heading--h2{font-size: 3rem;}
.p{font-size: 2rem;}

.header{
    display:flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: url(https://www.diabetes.org/sites/default/files/styles/paragraph_50_50/public/2019-08/Diabetes-Superfoods-min.jpg);
    background-size: cover;
}

.navbar{
    display: flex;
    font-size: 3rem;
    background-color: black;
    flex: 1 1 100%;
}
.navbar a{
    text-decoration: none;
    text-align: center;
    color: white;
    flex: 1 1 auto;
}
.navbar a:hover{
    background-color: grey;
}

.recipe__card--box{
    display:flex;
    justify-items: space-around;
    flex-wrap: wrap;
}
.recipe__card--link, .recipe__card--link:link, .recipe__card--link:visited{
    text-decoration: none;
    color:black;
    font-size: 2rem;
    text-align: center;
    background-color: orange;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    margin: 4rem 3rem;

    flex: 1 1 25%;
    

    }
.recipe__card--link:hover {
    transform: translateY(-1.5rem);
}
    
.rescipe__card--img{
    width:100%;
    height: 85%;
}
.recipe__detail--box{
    display: flex;
    flex-wrap: wrap;
 
}
.recipe__detail{
    flex: 1 1 100%;
    margin: 5rem;
}
.recipe__detail--img{
    width:100%;
    height: 55%;
    margin: 0 auto;
}


.footer{
    flex: 1 1 100%;
    justify-content: center;
    background-color: black;
    height: 10vh;
}
.footer--textbox{
    text-align: center;
    font-size: 1.5rem;
    color: grey;
    margin-top: 2rem;
}
main{
    flex: 1 1 100%;
    display: flex;
}
.contact--box{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;

    margin: 3rem 3rem;
    height: 50vh;
}
.contact__form{
    flex: 1 1 30%;
    margin: 0 3rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    padding: 2rem;
}

label,input,textarea{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: inherit;
    width: 100%;
}
textarea{
    height: 40%;
}
button{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    background-color: lightsalmon;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}
button:hover{
    transform: scale(1.3);
    background-color: greenyellow;
}
.contact__map{
    flex:1 1 50%;
    margin: 0 3rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}
iframe{
    height:100%;
    width: 100%;
    margin: 0 auto;
}
.ingredient, .direction{
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    word-wrap: normal;
}