.header-feedback{
    
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    flex: 1 1 100%;
    //width: 100vw;
    position: relative;
    background-image: linear-gradient(to right bottom, rgba($c-black-1,0.2),rgba($c-black-2,0.4)),
    url(../img/feedback-header.jpg);
    background-size: cover;
    &__box{
        position: absolute;
        top: 5rem; left:20rem;
        text-align: center; 
    }
    &__text{
        font-size: 3rem;
        color: $c-white;
        margin: 2rem 0;
    }
}
.sect__feedback--feedback{
    background-image: linear-gradient(to right bottom, $c-white, $c-brown-1);
}
.sect__feedback{
    padding: 5rem 0;
    //background-image: linear-gradient(to right bottom, rgba($c-white,.4),rgba($c-white,.5)),
    //url(../img/feedback.jpg);
    //background-size: cover;
    background-color: $c-pink-4;

}
.feedback--box{
margin-bottom: 3rem;
}
.feedback--card{
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    border: 4px solid $c-pink-2;
    border-radius: 5px;
    background-color: rgba($c-white,.8);
    @include respond(phone) {
        margin: 3rem 6rem;
    }

    &__photo-box{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 2rem 0;
    }
    &__name{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__text{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: justify;
    }
    &:hover{
        transform: translateY(-3px) scale(1.1);
    }
}
.student__img{
    height:100%;
}
.seeMoreFeedBacks{
    text-align: center;
}
.more {
    display: none;
}