.header{

    background-image: linear-gradient(to right bottom, rgba($c-black-1,.4),rgba($c-black-2,.4)),
    url(../img/header.jpg);
    background-size: cover;

    &__box{
    text-align: center; 
    }
    &__text{
    font-size: 2rem;
    color: $c-white;
    margin: 2rem 0;
    }
}

.sect__about{
    background-image: linear-gradient(to right bottom, rgba(#23120B,.4),rgba(#5A3825,.4)),
    url(../img/about.jpg);background-size: cover;
}
.about__box{
    background-image: url(../img/about.jpg);
    background-size:cover;
    padding: 2rem;
}
.li__about{
    margin-top:1rem;
}
.front-end__photo{
    width: 90%;
    margin-bottom: 3rem;
    &--content{
        width: 100%;
    }
}

.sect__feedback{
    //background-image:url(../img/feedback.jpg);
    //background-size:cover;
    background-image: linear-gradient(to right bottom, $c-white, $c-brown-2);
}
.feedback--box{
margin-bottom: 3rem;
}
.feedback--card{
    padding: 0 2rem;
    margin: 3rem 3rem;
    border: 8px solid $c-black-2;
    box-shadow: 0 3rem 6rem rgba($c-black-1,.2);
    &__photo-box{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 2rem 0;
    }
    &__name{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__text{
        font-size: 1.5rem;
    }
    &:hover{
        transform: translateY(-3px) scale(1.1);
    }
}
.student__img{
    height:100%;
}
.footer{
    background-image:url(../img/contact.jpg);
}

.contact__img{
    width: 100%;
}
.contact--card{
    padding: 2rem 2rem;
    margin: 3rem 3rem;
    border: 2px solid $c-black-1;
    box-shadow: 0 3rem 6rem rgba($c-black-1,.2);

    
    &__photo-box{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 2rem 0;
    }
    &__name{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        }
    &__text{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &:hover{
        transform: translateY(-3px) scale(1.1);
    }
}
.contact--card__icon{
    &--box{
        font-size: 2.5rem;
        color: $c-black-1;
        margin: 1rem;
    }
    &--link{
        text-align: center;
        text-decoration: none;
    }
}
.fa {

    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 0 .5rem;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-github, .fa-facebook,.fa-linkedin, .fa-skype, .fa-envelope{
    color: $c-black-2;
}


  
