
.header-sawi{
    flex: 1 1 100%;
    height: auto;
    display: flex;
    align-items: center;
    @include respond(phone){
        height: 50vh;
    }

    padding: 5rem 0;
    //background-image: linear-gradient(to right bottom, rgba($c-black-1,0.4),rgba($c-black-2,0.3)),
    //url(../img/sawi-header.jpeg);
    background-color: $c-brown-2;
    //background-image: linear-gradient(to right bottom, $c-brown-1,$c-brown-2);
    //background-image: url(../img/sawi-header2.jpg);
    background-size: cover;
    &__box{
        flex: 1 0 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center; 
        padding: 2rem;
        background-color: $c-brown-1;
        &--1{
            @include respond(tab-port){
                display: none;
            }
            @include respond(phone){
            display: none;
            }
        }
        &--3{
            @include respond(tab-port){
                display: none;
            }
            @include respond(phone){
                display: none;
            }
        }
    }
    &__text{
        font-size: 4rem;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 1px;
        //text-shadow: 1px 1px rgba($c-black-1,.4);
        color: $c-mahogany;
        font-family: 'Old Standard TT', 'Playfair Display', serif;
        text-transform: uppercase;
        font-stretch: expanded;
        margin-top: 2rem;
        animation: moveInLeft 1s ease-in;
    }
    &__photo-box{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: solid 2px $c-mahogany;
        overflow: hidden;
        background-image: url(../img/sawi-3.jpg);
        background-size: cover;
        animation: moveInRight 1s ease-in;
        &:hover{
            transform: translateY(-3px) scale(1.1);
        }
    }
    &__h1{
        font-family: 'Old Standard TT','Playfair Display', serif;
        font-size: 2rem;
        line-height: 3;
        font-weight: 100;
        letter-spacing: 1px;
        color: $c-black-1;
        margin-bottom: 2rem;
        //text-shadow: 1px 1px rgba($c-black-1,.4);
        animation: moveInLeft 1s ease-in;
    }
    &__photo--nature{
        width: 50%;
        height: 60%;
        margin: 3rem 0;
    }
}

.contact--card__icon-sawi{
    &--box{
        font-size: 2rem;
        color: $c-mahogany;
        margin: 1rem;
    }
    &--link{
        text-align: center;
        text-decoration: none;
    }
}

/* For the icon 
.fa {

    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 0 .5rem;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-github, .fa-facebook,.fa-linkedin, .fa-skype, .fa-envelope{
    color: $c-black-2;
}
*/

.sect__about-sawi{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-image: url(../img/sawi-about-2.jpg);
    padding: 5rem 0;
    
    &__box{
        flex: 0 1 20%;
        &--1{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include respond(phone){
         &--1, &--2, &--3,&--4{
            flex: 0 1 70%;
         }           
        }
        height: 35rem;
        font-size: 3rem;
        color: $c-black-2;
        border-radius: 3px;
        margin: 4rem 2rem;
        padding: 0 2rem;
        text-align: center;
        &--1{background-color: $c-brown-3;}
    }
}


.sect__havedone{
    flex: 1 1 100%;
    padding: 5rem 0;
    height: auto;
    background-image: linear-gradient(to right bottom, rgba($c-white,0.1),rgba($c-black-2,0.1)),
    url(../img/sawi-things.jpg);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.sect__havedone__head{
    flex: 0 0 50%;
    background-color: $c-brown-2;
    display: flex;
    margin: 4rem 0;
    outline: 1.5rem solid $c-brown-3;
    outline-offset: 15px;
    padding: 2rem;
    align-self: center;
    &:hover{
        transform: scale(1.05);
    }
}
.project{

    &__card{
        flex: 0 0 70%;
        background-image: linear-gradient(to right bottom, $c-brown-3, $c-brown-2);
        margin: 3rem 0;
        border-radius: 3px;
        box-shadow: 0 3rem 6rem rgba($c-black-1,.2);
        padding: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        &:hover{
            transform: scale(1.05);
        }
        @include respond(phone){
           flex-direction: column;
           justify-content: flex-start;
           height: auto;
        }
    }
    &__detail{
        color: $c-brown-1;
        flex: 0 0 50%;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        @include respond(phone){
            flex: 0 0 45%;
        }
    }
    &__name{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    &__location{
        font-size: 1.5rem;
    }
    &__period{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    &__company{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: $c-blue-1;
        &--link,&--link:link, &--link:visited{
            color: $c-brown-1;
            margin: 0.5rem 0;
        }
        &--link:hover{
            background-color: $c-brown-2;
            padding: 0.5rem 0.1rem;
            color: $c-mahogany;
        }
        &--link:active, &--link:focus{
            background-color: $c-black-1;
            color: $c-white;
        }
    }
    &__task{
        color: $c-mahogany;
        font-size: 1.5rem;
        text-align: normal;
        margin-bottom: 2rem;
        background-color: $c-brown-1;
        padding: 2rem;
        border-radius: 4px;
        
    }
    &__img{
        align-self: center;
        flex: 0 0 45%;
        border-radius: 10px;
        overflow: hidden;

        &--content{
            width: 100%;
            height: 70%;
        }
        @include respond(phone){
            display: none;
        }
    }
}

.sect__painting{
    flex: 0 0 100%;
    background-color: rgba($c-white,0.1);
    display: flex;
    padding: 0 0;
    @include respond(phone){
        flex-direction: column;
        justify-content: space-evenly;
    }
    &-1{
        flex:0 0 50%;
        background-color: $c-pink-5;
        padding: 0 4rem;
        height: 45rem;
        @include respond(phone){
            background-color: $c-white;
        }
    }
    &-2{
        flex:0 0 50%;
        margin-top: 3rem;
        padding: 4rem 5rem;
    }
}

.sect__traveling{
    flex: 0 0 100%;
    background-color: rgba($c-white,0.1);
    display: flex;
    padding: 0 0;
    @include respond(phone){
        flex-direction: column;
        background-color: $c-black-1;
    }
    &-1{
        flex:0 0 50%;
        background-color: $c-black-1;
        padding: 0 4rem;
        height: 45rem;
    }
    &-2{
        margin-top: 3rem;
        flex:0 0 50%;
        padding: 4rem 5rem;
        @include respond(phone){
            flex:0 0 20%;
        }
    }
}


