.header-sawi{

    background-image: linear-gradient(to right bottom, rgba($c-black-1,0.4),rgba($c-black-2,0.3)),
    url(../img/sawi-header.jpg);
    background-size: cover;
    &__box{
        text-align: center; 
        margin-top: 3rem;
    }
    &__text{
        font-size: 6rem;
        font-weight: 100;
        line-height: 2;
        letter-spacing: 2px;
        text-shadow: 1px 1px rgba($c-black-1,.4);
        color: $c-white;
        font-family: 'Playfair Display', serif;
        animation: moveInLeft 1s ease-in;
    }
    &__photo-box{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: solid 3px rgba($c-white,0.8);
        overflow: hidden;
        background-image: url(../img/sawi-2.jpg);
        background-size: cover;
        animation: moveInRight 1s ease-in;
        &:hover{
            transform: translateY(-3px) scale(1.1);
        }
    }
    &__h1{
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        line-height: 3;
        font-weight: 100;
        letter-spacing: 1px;
        color: $c-white;
        text-shadow: 1px 1px rgba($c-black-1,.4);
        animation: moveInLeft 1s ease-in;
    }
}

/*.line{
    flex: 0 0 30%;
    width: 50%;
    height: 0.3rem;
    margin: 0 auto;   

    &--light{
    background-color: $c-white; 
    }
    &--dark{
    background-color: $c-black-1; 
    }

    
}
*/

.sect__about-sawi{
    background-color: $c-pink-1;
    &__box{
        height: 30rem;
        width: 20rem;
        font-size: 3rem;
        color: $c-black-2;
        border: solid 2px $c-white;
        margin: 2rem;
        padding: 4rem;
        text-align: center;

        &--1{background-color: $c-pink-1;}
        &--2{background-image: url(../img/coding.jpg);background-size: cover;}
        &--3{background-image: url(../img/painting.jpg);background-size: cover;}
        &--4{background-image: url(../img/teaching.jpg);background-size: cover;}
    }

}


.sect__havedone{
    width: 1 1 100%;
    height: auto;
    //background-image: linear-gradient(to right bottom, rgba($c-white,0.1),rgba($c-black-2,0.1)),
    //url(../img/sawi-section-things.jpg);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sect__head{
    width: 100vw;
}

.project{

    &__card{
        margin-bottom: 2rem;
        width: 45%;
        height: auto;
        border: 4px solid $c-black-1;
        box-shadow: 0 3rem 6rem rgba($c-black-1,.2);
        padding: 1.5rem;
    }
    &__img{
        flex: 0 0 100%;
        margin: 1rem 3rem;
        &--content{
         width: 100%;
        }
    }
    &__detail{
        flex: 0 0 100%;
        margin: 1rem 3rem;
    }

    &__name{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    &__location{
        font-size: 1.5rem;
    }
    &__period{
        font-size: 1.5rem;
    }
    &__company{
        font-size: 2rem;
        color: $c-blue-1;
        margin-bottom: 2rem;
        &--link,&--link:link, &--link:visited{
            color: $c-blue-1;
            margin: 0.5rem 0;
        }
    }
    &__task{
        font-size: 1.5rem;
        text-align: justify;
        
    }
}

