.album-box{
text-align: center;
font-weight: 500;
background-color: rgba($c-white-1,.4);
//background-image: linear-gradient(to right, $c-white-1, $c-blue-3);
border-radius: 3px;
box-shadow: 0 1.5rem 4rem rgba($c-black-2,1);
padding: 1rem;
transition:all .3s;

	&__photo{
		width: 100%;
		filter: sepia(55%) contrast(120%);
	}

	&:hover{
		transform: translateY(-1.5rem) scale(1.1);
	}
}