.btn-transp{
			position: absolute;top:70%; left: 40%;
		//transform:translate(-50%,-50%);

	&,&:link, &:visited{
		display: inline-block;
		text-transform: uppercase;
		color:$c-white-1;
		font-weight: 400;
		font-size: $font-btn;
		padding: 0.5rem 1rem;
		border-radius: 3px;
		border: 2px solid rgba($c-white-1,.9);
		//box-shadow: 0 2px 3px $c-white-1;
		//background-image: linear-gradient(to right, rgba($c-blue-1,0.8), rgba($c-blue-3,0.8));
		background-color:transparent;
		animation:MoveInBottom 2s ease-out;

	}
	&:hover{
		transform: translateY(-3px);

	}
	&:focus, &:active{
		
	}

	
}