.sect__intro{

	background-color: rgba($c-blue-2,1);
	padding: 10rem 0;
}
.sect__news{

	background-image: linear-gradient(to right bottom, rgba($c-black-1,0.8), rgba($c-black-2,0.8)),url(../img/sect_news_bg.jpg);
	padding: 10rem 0;
}
.news-1{
	width: 100%;
}
.sect__agenda{
	padding: 10rem 0;
	background-color: rgba($c-yellow-1,1);

}
.sect__history{

	background-color: rgba($c-blue-2,1);
	padding: 10rem 0;
}
.sect__board{

	background-color: rgba($c-yellow-1,1);
	padding: 10rem 0;
	&__text{
	background-color: rgba($c-white-1,.4);
	padding:3rem 0;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($c-black-2,.2);
	}
}
.sect__album{

	padding: 10rem 0;
	background-color: rgba($c-blue-2,1);
	
}
.sect__becomemember{

	padding: 10rem 0;
	background-color: rgba($c-yellow-1,1);
	
}
.sect__sponser{

	padding: 10rem 0;
	background-color: rgba($c-blue-2,1);
}
.sect__contact{

	padding: 10rem 0;
	background-color: rgba($c-yellow-1,1);
}

